
                

                    <div class="form_container form_editP">
                        <div class="sign-box box_editP">
                            <h3>Update Product<br>
                                </h3>
                            <form class="row contact_form" action="/login/clerkedit/{{_id}}" method="post" enctype="multipart/form-data">
                                <h2>{{errorImage}}</h2>
                                <div class="col-md-12 form-group p_star">
                                    <p>Product name</p>
                                    <input type="text" class="form-control" id="name" name="product_name"
                                      required  placeholder="Enter product name" value='{{product_name}}'>
                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <p>Product Price</p>
                                    <input type="number" class="form-control" id="name" name="product_price"
                                      required  placeholder="Enter product price" value='{{product_price}}'>
                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <p>Product Quantity</p>
                                    <input type="number" class="form-control" id="name" name="product_quantity"
                                       required placeholder="Enter product quantity" value='{{product_quantity}}'>
                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <p>Product description</p>
                                    <textarea rows="5" cols="40" type="text" class="form-control" id="name" name="product_description"
                                      required  placeholder="Enter product description">{{product_description}}</textarea>
                                </div>

                                <div class="col-md-12 form-group p_star">
                                    <p>Current picture:</p>
                                    <img src="../../img/{{this.p_Pic}}" alt="image" class="img-fluid">                                    
                                    <p>Upload picture:</p>
                                    <input type = "file" name="product_picture">
                                    
                                    <div class="form_check" style="white-space:nowrap;">
                                    <input class="form-check-input" type="radio" name="category" id="category0" value="phones">
                                    <label class="form-check-label" for="category0">
                                        Cell phones
                                    </label>
                                    </div>

                                    <div class="form_check" style="white-space:nowrap;">
                                    <input class="form-check-input" type="radio" name="category" id="category1" value="tools">
                                    <label class="form-check-label" for="category1">
                                        Hand tools
                                    </label>
                                    </div>
                                    <div class="form_check" style="white-space:nowrap;">
                                    <input class="form-check-input" type="radio" name="category" id="category2" value="nutrition">
                                    <label class="form-check-label" for="category2">
                                        Nutritional Products
                                    </label>
                                    </div>
                                    <div class="form_check" style="white-space:nowrap;">
                                    <input class="form-check-input" type="radio" name="category" id="category3" value="valentine">
                                    <label class="form-check-label" for="category3">
                                        Valentine's Presents
                                    </label>
                                    

                                    </div>

                                </div>

                               
                                    
                                <div class="col-md-12 form-group p_star">

                                    <input type="checkbox" class="form-control" id="best" name="isBest"
                                        style="height: 15px;width: 15px;" value="true">
                                        <label for="isBest" >Best seller </label>
                                </div>
                                
                                
                                    

                                 <button type="submit" value="submit" class="controlsec">
                                        UPDATE
                                    </button>
                            </form>
                        </div>
                    </div>
         