<div class="dashboard_area">
    <h3 style="color:black;">Welcome back {{name}}</h3>
    <div class = "controlsec">
      <a href="/login/logout" class="btn_3" style="color:lavender; transition: all 9.5s ease;">Sign out</a>
    </div>
</div>

  <!--================Cart Area =================-->

   
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <h4>Your inventory: ({{totalproduct}}) items</h4>
              {{#each product_list}}
              <tr>
                <td>
                  <div class="media">
                      <img src="/img/{{this.p_Pic}}" alt="" />
                      <p>{{this.p_name}}</p>
                  </div>
                </td>
                <td>
                  <h5>${{this.p_price}}</h5>
                </td>
                <td>
                  <div class="product_count">
                    <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                    <input class="input-number" type="text" value="{{this.p_quantity}}" min="0" max="9">
                    <span class="input-number-increment"> <i class="ti-plus"></i></span>
                  </div>
                </td>

                <td>
                  <form class="row contact_form" action="/product/deleteProduct/{{_id}}" method="post" style="display: inline-block;">
                        <button type="submit" value="submit" class="controlsec" style="color: red;">
                          delete
                        </button>
                    </form>
                </td>

              </tr>
             {{/each}}
            
              <tr>
                <td></td>
                <td></td>

                <td>
                  <h5>Total (Tax included)</h5>
                </td>
                <td style="text-align: right;">
                  <h5>${{totalbill}}</h5>
                </td>
              </tr>
              
            </tbody>
          </table>
          <div class="checkout_btn_inner float-right">
            <a class="controlsec" href="/product">Shopping</a>
            <a class="controlsec" href="/product/checkout">Place your order</a>
          </div>
        </div>
 