<div class="banner-wrapper banner-wrapper-prime">
	<a href="#" ><h2 class= "banner_title">Try Prime</h2></a>
</div>

    <div class="slideshow-container">
		<div class="mySlides fade">
  			<a href="#"><img src="img/i1.jpg" ></a>
		</div>

		<div class="mySlides fade">
  			<a href="#"><img src="img/i2.jpg" ></a>
		</div>

		<div class="mySlides fade">
 			 <a href="#"><img src="img/i3.jpg" ></a>
		</div>

		<div class="mySlides fade">
  			<a href="#"><img src="img/i5.png" ></a>
		</div>
	</div>
<script>showSlides();</script>
<div class="banner-wrapper banner-wrapper-product">
	<h3 class= "banner-title-product">Product Category</h3>
</div>
<div class="category_container">
	{{#each category_list}}
		<div class="box">
            <h4 class="productTitle">{{this.title}}</h4>
			<a href="{{this.url}}"><img src="{{this.img_src}}"></a>
			<a href="{{this.url}}">
                <p>{{this.details}}</p>
            </a>		
		</div>	
	{{/each}} 
</div>

<div class="banner-wrapper banner-wrapper-product">
	<h3 class= "banner-title-product">Best Sellers</h3>
</div>

<div class="bestSelle-wrapper">
	{{#each best_Sells}}
    <div class="bestSeller-box">
		<div class="img_demo">
 			<a href="#"><img class="demo cursor" src="{{this.img}}" style="width:100%" onclick="currentSlide({{@index}})">{{this.title}}</a>
		</div>
    </div>
	
	{{/each}} 
</div>
<script>
	showSlides_b(slideIndex);
</script>
