<h2 class= "banner_title" id = "bestSelling" style="color: cadetblue;">Shop by Category</h2>
    <div class="detail_product">
      <div class ="product_category">
        <h3>{{heading}}</h3>
        <form  method="post" action="/product/searchbyCategory" style="padding:0;border-style:none">
          <select id="selectCat" name="findByCategory">
            <option value="phones">Cell phones</option>
            <option value="valentine">Valentine Presents</option>
            <option value="nutrition">Nutritional Product</option>
            <option value="tools">Tools</option>
          </select>
          <input type="submit" value="Find" style="width:auto;padding:3px">
        </form>
      </div>
      
     
        {{#each products}}
        <div class="grid-item-box">  
            <a href="/product/{{this._id}}"> 
            <div class="product_content">
                <img src="/img/{{this.p_Pic}}" class="img_item">  
                <p><span class="bold">Name: </span>{{this.p_name}}</p>
                <p><span class="bold">Price: </span>{{this.p_price}}$</p>
                <p class="description_item"><span class="bold">Detail: </span>{{this.p_desc}}</p>
            </div>
            </a>
        </div>
        {{/each}}
     
    </div>
  

  